rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /cocktails/{cocktail} {
      allow read
      allow write: if request.auth != null && get(/databases/{database}/documents/users/$(request.auth.uid)).data.admin == true
    }
  }
}