<div class="nav">
    <div class="nav-container">
        <a class="nav-logo" routerLink="/">
            <h1>Bar Ramon</h1>
        </a>
        <button (click)="togglePopout()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="nav-desktop-menu">
            @for (navLink of navLinks; track navLink.title) {
            <a [routerLink]="navLink.path">{{ navLink.title }}</a>
            } @if (user$ | async) {
            <a routerLink="create/cocktail" class="logout-btn"
                >Create Cocktail</a
            >
            <a class="logout-btn" (click)="logout()">Logout</a>
            }
        </div>
    </div>
    <div class="nav-popout" [ngClass]="{ hide: isHidden }">
        <div class="nav-popout-links">
            @for (navLink of navLinks; track navLink.title) {
            <a [routerLink]="navLink.path">{{ navLink.title }}</a>
            <hr />
            } @if (user$ | async) {
            <a routerLink="create/cocktail" class="logout-btn"
                >Create Cocktail</a
            >
            <hr />
            <a class="logout-btn" (click)="logout()">Logout</a>
            }
        </div>
    </div>
</div>
