<div class="container">
    <div class="center">
        <div class="container-grid">
            <div class="intro">
                <h2>{{ cocktail.RecipeName }}</h2>
                @if (cocktail.Image) {
                <img
                    class="cocktail-photo"
                    [src]="cocktailImage"
                    [alt]="cocktail.ImageAlt"
                />
                }
            </div>
            <div class="info">
                <h2>Ingredients</h2>
                <ul class="ingredients-list">
                    @for (ingredient of cocktail.RecipeIngredient; track
                    ingredient) {
                    <li class="ingredients-list-item">
                        <bubble>{{ ingredient }}</bubble>
                    </li>
                    }
                </ul>
                <h2>Glass</h2>
                <bubble>{{ cocktail.RecipeGlass }}</bubble>
                <h2 class="instructions-heading">Instructions</h2>
                <ol class="instructions-list">
                    @for (instruction of cocktail.RecipeInstructions; track
                    instruction.StepName) {
                    <li class="instructions-list-item">
                        {{ instruction.StepDescription }}
                    </li>
                    }
                </ol>
                <more-info
                    [rating]="cocktail.RatingValue"
                    [servingSize]="cocktail.RecipeYield"
                    [prepTime]="cocktail.PrepTime"
                    [cookTime]="cocktail.CookTime"
                    [totalTime]="cocktail.TotalTime"
                    [calories]="cocktail.Calories"
                    [description]="cocktail.Description"
                ></more-info>
            </div>
            @if (cocktail.VideoWidth > 0) {
            <iframe
                [width]="cocktail.VideoWidth"
                [height]="cocktail.VideoHeight"
                [src]="trustedVideoSrc"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen=""
            ></iframe>
            }
        </div>
    </div>
</div>
