<div class="container signInForm">
    <form [formGroup]="signInForm" (ngSubmit)="signIn()">
        <mat-form-field>
            <mat-label>Email Address</mat-label>
            <input matInput type="text" formControlName="email" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <button mat-button [disabled]="signInForm.invalid">Sign In</button>
    </form>
</div>
