:root {
    --fw-bold: 600;
    --fs-large: 1.25rem;
    --fs-color: white;
}

body {
    margin: 0;
    background-color: rgb(31, 41, 55);
    color: var(--fs-color);
}

/* Utility */

.container {
    max-width: 768px;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.padding-05 {
    padding: 0.5rem;
}

/* Home Page */

.intro {
    background-color: rgb(17, 24, 39);
}

.cocktails {
    display: grid;
    gap: 1.5rem;
}

.cocktail-link {
    color: inherit;
    text-decoration: none;
}

.cocktail-photo {
    object-fit: cover;
    border-radius: 0.5rem;
    width: 100%;
    height: 13rem;
}

.cocktail-name {
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
    line-height: 1.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .cocktails {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .cocktails {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Instruction Page */

#ingredients + ul {
    padding: 0;
}

#ingredients + ul > li {
    list-style: none;
}

#glass + ul {
    padding: 0;
}

#glass + ul > li {
    list-style: none;
}
