<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{.Description}}">
        <title>{{ .Title }}</title>
        <link rel="manifest" href="/manifest.json" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="icon" href="/img/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
            rel="stylesheet"
        />
        {{ if eq .Params.recipeCategory "Drink" }} {{ partial "recipe" . }} {{ end }}
        {{ if eq .Type "home" }} {{ partial "summary" . }} {{ end }}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9S9L4J83YZ"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-9S9L4J83YZ');
        </script>
    </head>
    <body>
        {{ block "main" .}} {{ end }}
        {{ partial "sw" .}}
    </body>
</html>
