{{ define "main" }}
<div class="container text-center mw-450">
    <p>
        <img src="{{ .Params.image }}" alt="{{ .Params.imageAlt }}" title="{{ .Params.imageAlt }}">
    </p>
    <h1>{{ .Params.recipeName }}</h1>
    <h2 id="glass">GLASS</h2>
    <ul>
        <li>{{ .Params.recipeGlass }}</li>
    </ul>
    <h2 id="ingredients">INGREDIENTS</h2>
    <ul>
    {{ range .Params.recipeIngredient }}
        <li>{{ . }}</li>
    {{ end }}
    </ul>
    <h2 id="instructions">INSTRUCTIONS</h2>
    <ol>
    {{ range .Params.recipeInstructions }}
        <li>{{ . }}</li>
    {{ end }}
    </ol>
    <iframe width="{{ .Params.videoWidth }}" height="{{ .Params.videoHeight }}" src="{{ .Params.videoEmbedUrl }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
</div>
{{ end }}
