<div class="container mw-1000">
    <div class="cocktails">
        {{ range .Site.RegularPages }}
        <div class="padding-05">
            <a class="cocktail-link" href="{{ .RelPermalink }}index.html">
                <div>
                    <img
                        class="cocktail-photo"
                        src="{{ .Params.image }}"
                        alt="{{ .Params.imageAlt }}"
                    />
                </div>
                <div class="cocktail-name">{{ .Params.recipeName }}</div>
                <div class="cocktail-ingredients">{{ .Params.rawIngredients }}</div>
            </a>
        </div>
        {{ end }}
    </div>
</div>
