<script type="application/ld+json">
{{ $instructions := (len .Params.recipeInstructions) }}
    {
        "@context": "https://schema.org/",
        "@type": "Recipe",
        "name": {{ .Params.recipeName }},
        "image": [
            {{ absURL .Params.image }}
        ],
        "author": {
            "@type": "Person",
            "name": {{ .Params.author }}
        },
        "datePublished": {{ .PublishDate | time.Format "2006-01-02" }},
        "description": {{ .Description }},
        "prepTime": {{ .Params.prepTime }},
        "cookTime": {{ .Params.cookTime }},
        "totalTime": {{ .Params.totalTime }},
        "keywords": {{ delimit $.Params.keywords " " }},
        "recipeCuisine": {{ .Params.recipeCuisine }},
        "recipeYield": {{ .Params.recipeYield }},
        "recipeCategory": {{ .Params.recipeCategory }},
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": {{ .Params.ratingValue }},
            "ratingCount": {{ .Params.ratingCount }}
        },
        "video": {
            "@type": "VideoObject",
            "name": {{ .Params.videoName }},
            "uploadDate": {{ .Params.videoUploadDate }},
            "thumbnailUrl": {{ .Params.videoThumbnailUrl }},
            "description": {{ .Params.videoDescription }},
            "contentUrl": {{ .Params.videoContentUrl }},
            "embedUrl": {{ .Params.videoEmbedUrl }}
        },
        "nutrition": {
            "@type": "NutritionInformation",
            "calories": "{{ .Params.calories }} calories"
        },
        "recipeIngredient": {{ .Params.recipeIngredient }},
        "recipeInstructions": [
        {{ range $i, $v := .Params.recipeInstructions }}{
               "@type": "HowToStep",
               "name": {{ $v.stepName }},
               "text": {{ $v.stepDescription }}
            }{{ if lt (add $i 1) $instructions }},{{ end }}
        {{ end }}]
    } 
</script>
