<div class="container mw-1000">
    <div class="all-cocktail-heading">
        <h2 class="title">Explore All Cocktails</h2>
        <div class="searchField">
            <mat-icon>search</mat-icon>
            <input
                type="text"
                class="searchFieldInput"
                placeholder="Search Cocktails"
                [(ngModel)]="searchValue"
                (keyup)="searchCocktails()"
            />
            @if (this.searchValue.length > 0) {
            <button class="searchFieldClear" (click)="clear()">
                <mat-icon>close</mat-icon>
            </button>
            }
        </div>
    </div>
    <cocktail-list
        [cocktails]="cocktails().slice(cursor.start, cursor.end)"
    ></cocktail-list>
    <pager (cursor)="updateCursor($event)"></pager>
</div>
